:root {
  --firstRegister: rgb(254, 72, 206);
  --firstRegisterLight: rgb(255, 115, 218);
  --secondRegister: rgb(0, 220, 255);
  --secondRegisterLight: rgb(182, 245, 255);
  --thirdRegister: rgb(255, 247, 22);
  --thirdRegisterLight: rgb(255, 251, 133);
  --fourthRegister: rgb(22, 255, 109);
  --fourthRegisterLight: rgb(108, 255, 162);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
