.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  margin-right: 2.4rem;
  background-color: var(--first);
}
.register {
  position: absolute;
  top: 1rem;
  right: 0;
  margin-right: 0.2rem;
  width: 2.6rem;
  height: 10rem;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--first);
}
.register div {
  position: relative;
  right: 0;
  top: 10rem;
}
.register div:nth-child(1) {
  background-color: var(--second);
}
.register div:nth-child(2) {
  background-color: var(--third);
}
.register div:nth-child(3) {
  background-color: var(--fourth);
}
.title {
  color: white;
  font-size: 2rem;
}
.logo {
  width: 2rem;
}
.link {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  grid-gap: 0.5rem;
  background-color: var(--first);
}
.link :hover {
  box-shadow: 8px 8px 30px 1px rgba(150, 13, 131, 0.199);
}
